<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/loginstyle.css' %}" />
    <link type="image/png" sizes="32x32" rel="icon" href="{% static 'images/icon1.png' %}">

    <title>Inicio de Sesión y Registro</title>
</head>
<body>

    <video autoplay loop id="video-background" muted plays-inline>
        <source src="{% static 'videos/fondovideo2.mp4' %}" type="video/mp4">
    </video>
    
    <div class="container">
        <div id="login-form">
            
            <h2><img src="{% static 'images/output.png' %}" type="png">Inicio de Sesión</h2>
            <div class="form-group">
                <label for="usuario">Usuario</label>
                <input type="text" id="usuario" placeholder="Introduce tu usuario">
            </div>
            <div class="form-group">
                <label for="login-password">Contraseña</label>
                <input type="password" id="login-password" placeholder="Introduce tu contraseña">
            </div>
            <div class="form-group">
                <button onclick="login()">Iniciar Sesión</button>
            </div>
            <div class="switch-form">
                <p>¿No tienes un usuario? <a href="#" onclick="showRegisterForm()">Regístrate</a></p>
            </div>
        </div>
        <div id="register-form" style="display:none;">
            <h2 id="title2"><img id="Img2" src="{% static 'images/output2.png' %}" type="png">Registro</h2>
            <div class="form-group">
                <label for="registro-usuario">Usuario</label>
                <input type="text" id="registro-usuario" placeholder="Introduce tu usuario">
            </div>
            <div class="form-group">
                <label for="registro-contra">Contraseña</label>
                <input type="password" id="registro-contra" placeholder="Introduce tu contraseña">
            </div>
            <div class="form-group">
                <button onclick="register()">Regístrate</button>
            </div>
            <div class="switch-form">
                <p>¿Ya tienes un usuario? <a href="#" onclick="showLoginForm()">Inicia Sesión</a></p>
            </div>
        </div>
    </div>

    <script src="{% static 'js/login_function.js' %}"></script>

</body>
</html>
